.donely {
    padding: 64px 0;


    &__title {
        text-align: center;
        margin-bottom: 87px;
        padding: 0 15px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.donelyCard {
    display: flex;
    padding: 0 10px 100px;
    width: 100%;

    &__title {
        font-weight: 800;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
    }

    &__box {
        width: 50%;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    &__background-1 {
        margin: 0 auto;
        height: 410px;
        width: 410px;
        background: rgba(155, 77, 255, 0.26);
        border-radius: 100%;
        filter: blur(150px);
    }

    &__background-2 {
        margin: 0 auto;
        height: 361px;
        width: 361px;
        background: rgba(236, 57, 68, 0.18);
        ;
        border-radius: 100%;
        filter: blur(150px);
    }

    &__background-3 {
        margin: 0 auto;
        height: 410px;
        width: 410px;
        background: rgba(35, 202, 142, 0.18);
        ;
        border-radius: 100%;
        filter: blur(150px);
    }

    img {
        position: absolute;
    }

    &__social-1 {
        position: absolute;
    }

    &__img-1 {
        height: 302px;
        left: 182px;
        top: 54px;
        width: 248px;
        z-index: 2;

    }

    &__img-2 {
        height: 250px;
        left: 315px;
        top: 80px;
        width: 205px;
        z-index: 1;
    }

    &__img-3 {
        height: 153px;
        left: 33px;
        top: 83px;
        width: 195px;
        z-index: 3;
    }
    &__img-4 {
        background: transparent;
        left: 33px;
        width: 368px;
    }
    &__img-5 {
        left: 33px;
        width: 484px;
    }

}

@media(max-width: 890px) {
    .donely {
        &__title {
            margin-bottom: 110px;
        }
    }

    .donelyCard {
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
        &.columnReverse {
            flex-direction: column-reverse;
        }
        

        &__box {
            width: 70%;
        }

        &__background-1,
        &__background-2,
        &__background-3 {
            width: 300px;
            height: 300px;
        }

        &__img-4 {
            left: 25px;
            top: -50px;
            width: 370px;
        }
        &__img-5 {
            left: 25px;
            top: -50px;
            width: 370px;
        }

        &__img-1 {
            top: -50px;
            left: 90px;
            z-index: 2;
        }

        &__img-2 {
            top: -20px;
            left: 245px;
            z-index: 1;
        }

        &__img-3 {
            top: 20px;
            left: -8px;
            z-index: 3;
        }
    }
}

@media(max-width: 790px) {
    .donely {
        &__title {
            font-size: 36px;
        }
    }
}

@media(max-width: 550px) {
    .donelyCard {
        text-align: center;

        &__box {
            width: 90%;
        }

        &__img-1 {
            top: -50px;
            left: -25px;
            z-index: 2;
        }

        &__img-2 {
            top: -20px;
            left: 75px;
            z-index: 1;
        }

        &__img-3 {
            display: none;

        }
        &__img-4 {
            left: 5px;
            top: 0;
            width: 300px;
        }
        &__img-5 {
            left: 5px;
            top: 0;
            width: 300px;
        }
    }
}