.header {
    padding: 20px;
    position: absolute;
    z-index: 7;
    width: 100%;
    &.white {
        background: white;
        position: fixed;
        animation: header__animation;
        animation-duration: .8s;
        box-shadow: 0px 12px 10px rgba(80, 90, 103, 0.2);
    }
    & .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__navbar, &__navbar ul {
        display: flex;
        align-items: center;
    }
    &__navbar ul {
        padding: 0;
        margin: 0;
    }
    &__col {
            padding: 0 24px;
            display: flex;
            align-items: center;
    }
    &__item {
        margin: 0 17px;
        a {
            &:hover {
                font-weight: 900;
                color: black;
            }
        }
    }
    &__logo {
        font-family: 'Poppins', sans-serif;
        margin-right: 32px;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        img {
            position: absolute;
            display: block;
            bottom: 55%;
            left: 110px;
        }
    }
    .btn__burger {
        display: none;
    }
   
}

@keyframes header__animation {
    0% {
        position: fixed;
        top: -300px
    }
    12% {
        
        top: -200px
    }
    50% {}
    100% {
        top: 0;
    }
}



@media(max-width:690px) {
    .header {
        &__navbar {
            position: absolute;
            flex-direction: column;
            height: 100vh;
            background: white;
            width: calc(100% + 40px);
            right: -700px;
            transition: .7s;
            padding: 70px 0 0 20px  ;
            
        }
        &__navbar.active {
            right: -20px;

        }
        &__navbar ul{
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            
        }
        &__item {
            text-align: right;
            margin: 0 0 40px;
            font-size: 24px;
        }
        .btn__purple {
            display: none;
        }
        .btn__burger {
            display: block;
            position: absolute;
            z-index: 4;
            right: 20px;
            top: calc(50% - 20px);
        }
    }
   
}



