.join {
    background: #2EC5CE;
    padding: 69px 0 125px;

    &__title {
        display: block;
        margin-bottom: 8px;

    }

    &__link {
        margin-bottom: 81px;
        display: block;
        font-weight: 500;
        font-size: 16px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        display: block;
        text-align: center;
        font-weight: 800;
        font-size: 36px;
    }
}

@media(max-width:767px) {
    .join {
        &__wrapper {
            flex-direction: column;
        }
    }
}