.partner {
    background: #F1F3F6;
    position: relative;

    .only__mobile {
        display: none;
    }

    .container-xxl {
        max-width: 1240px;
        height: 130px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        position: relative;
    }

    &__item {
        position: absolute;
        display: block;
        color: rgba(161, 168, 173, 1);
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        bottom: 30px;
        right: 20px;
    }

    &__wrapper {
        overflow: hidden;
        width: calc(100% - 120px);
    }

    &__row {
        width: max-content;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

    }

    &__text {
        display: block;
        color: rgba(161, 168, 173, 1);
        margin-right: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
    }
    &__col {
        width: 70px;
    }
    &__img {
        display: block;
        height: min-content;
        width: min-content;
        margin: 0 auto;
    }

}
@media(max-width:690px) {
    .partner {
        &__item {
            display: none;
        }
        &__wrapper {
            overflow: hidden;
            width: 100% ;
        }
    }
}

@media(max-width:550px) {
    .only__mobile {
        display: block;
    }
    .partner {
        .container-xxl {
            height: 100px;
        }
        &__text {
            font-size: 18px;
            margin-left: 5px;
        }
        &__item {
            display: none;

        }
        &__img {
            margin: 0 25px 0 5px;
        }
      
    }
}